__pycache__/
*.py[cod]
*$py.class
*.so
dist/
build/
*.egg-info/
venv/
env/
.env
.venv/
ENV/
.idea/
.vscode/
*.swp
*.swo
.ipynb_checkpoints
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
*.log
.local
instance/
.DS_Store
Thumbs.db